.shoppingList {
    margin-left: 20px;
}

.options {
    margin-top: 10px;
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.itemImage {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.itemInfo {
    margin-bottom: 10px;
}
